*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #EC9125;
}

/* Header section */

.header {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 49px;
}

.header__phone {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
}

.header__phone-number {
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    margin-left: 19px;
    padding: 12px 31px 13px;
    background: #EC9125;
    border-radius: 22px;
}

.header__phone-number:hover {
    box-shadow: 0px 2px 20px #EC9125;
}

.menu {
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 50px;
}

.menu__btn {
    display: none;
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 15px 0;
}

.menu__item {
    list-style-type: none;
}

.menu__item:hover {
    color: #EC9125;
}

.header__title {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 130%;
    margin-bottom: auto;
    text-align: center;
    padding-bottom: 400px;
}

.header__descr {
    max-width: 420px;
}

.header__btn {
    display: inline-block;
    padding: 18px 50px;
    background: #EC9125;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header__btn:hover {
    box-shadow: 0px 2px 20px #EC9125;
}

.header__arrow {
    text-align: center;
    margin-bottom: 15px;
}

/* Direction section */

.direction {
    padding: 100px 0;
}

.direction__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.direction__img {
    display: block;
}

.description__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1F1E1E;
    border: 1px solid #D9D9DE;
    border-top: none;
    padding: 10px 19px 14px;
}

/* Travel info section */

.travel__info {
    background-image: url(../img/travel-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 30px 0 50px;
}

.travel-info__title {
    color: #fff;
    margin-bottom: 50px;
}

.travel-info__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 54px 67px;
}

.travel-info__img {
    margin-bottom: 15px;
}

.travel-info__text {
    font-size: 16px;
}

/* Popular section */

.popular {
    padding: 100px 0;
}

.popular__title{
    margin-bottom: 40px;
}

.popular__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    padding-bottom: 80px;
    border-bottom: 1px solid #D9D9DE;
}

.popular__link {
    padding: 16px 24px 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 256px;
}

.popular__link:nth-child(3),
.popular__link:nth-child(6) {
    grid-column: span 2;
    grid-row: span 2;
    font-size: 24px;
}

.popular__text {
    font-weight: 500;
    line-height: 130%;
    margin: 15px 0 15px;
}

.popular__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    margin-top: auto;
}

.popular__country, .popular__time {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}

/* Map section */

.map {
    padding-bottom: 100px;
}

.map__title {
    margin-bottom: 50px;
}

/* About section */

.about {
    padding-bottom: 100px;
}

.about__inner {
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px;
}

.about__title {
    text-align: left;
    margin-bottom: 25px;
}

.about__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E1E;
    margin-bottom: 34px;
}

.about__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    text-decoration: underline;
}

.about__link:hover {
    color: #EC9125;
}

.about__popup {
    background-image: url(../img/about.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gallery section */

.gallery {
    padding: 50px 0 105px;
    background: #EC9125;
}

.gallery__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 160px;
}

.gallery__title {
    color: #fff;
    text-align: left;
}

.gallery__link {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
}

.gallery__item-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}

.slick-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -85px;
    right: 0;
}

.slick-prev {
    right: 60px;
}

/* Tour section */

.tour {
    padding: 100px 0;
}

.tour_title {
    margin-bottom: 77px;
}

.tour__box {
    column-count: 2;
    column-gap: 46px;
    border-bottom: 1px solid #D9D9DE;
    padding-bottom: 50px;
    margin-bottom: 44px;
}

.tour__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E1E;
    margin-bottom: 20px;
}

.tour__text-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #EC9125;
}

.tour__info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px;
}

.tour__info-item {
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 130%;
    color: #EC9125;
    text-align: center;
}

.tour__info-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #1F1E1E;
}

/* Booking section */

.booking {
    background: #FFEAD0;
    padding: 75px 0;
}

.booking__title {
    margin-bottom: 43px;
}

.booking__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 830px;
    margin: 0 auto;
}

.booking__input {
    width: 256px;
    height: 44px;
    border: 1px solid #D9D9DE;
    padding: 11px 14px 12px;
    margin-bottom: 28px;
    font-size: 16px;
}

.booking__input::placeholder, .booking__area::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #C4C4C4;
}

.booking__area {
    width: 100%;
    padding: 14px;
    height: 112px;
    border: 1px solid #D9D9DE;
    resize: none;
    margin-bottom: 67px;
}

.booking__btn {
    background: #EC9125;
    border-radius: 30px;
    border: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 19px 65px 20px;
    cursor: pointer;
}

.booking__btn:hover {
    box-shadow: 0px 2px 20px #EC9125;
}

.booking__label {
    text-decoration: underline;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: underline;
    color: #1F1E1E;
}

.booking__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 45px;
}

.booking__checkbox-style {
    width: 26px;
    height: 26px;
    border: 2px solid #EC9125;
    border-radius: 2px;
    position: absolute;
    margin-left: -45px;
    font-weight: normal;
}

.booking__checkbox:checked + .booking__checkbox-style::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #EC9125;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer section */

.footer {
    background: #EC9125;
    padding: 80px 0;
}

.footer__logo {
    text-align: center;
    margin-bottom: 70px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 130%;
    max-width: 830px;
    margin: 0 auto;
}

.footer__info {
    width: 255px;
}

.footer__box-title {
    margin-bottom: 7px;
    font-weight: 500;
}

.footer__copy {
    margin-bottom: 3px;
    opacity: 0.8;
}

.footer__link {
    text-decoration: underline;
    opacity: 0.8;
}

.footer__address {
    width: 165px;
}

.footer__address-text {
    opacity: 0.8;
}

.footer__contacts {
    width: 210px;
}

.footer__phone {
    opacity: 0.8;
}

.footer__mail {
    display: block;
    opacity: 0.8;
}

/* RESPONSIVE */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .direction__inner {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .direction__img {
        width: 100%;
    }

    .direction, .popular, .gallery, .tour {
        padding: 50px 0;
    }

    .popular__items {
        grid-gap: 10px;
    }

    .popular__link {
        min-height: 200px;
    }

    .map, .about {
        padding-bottom: 50px;
    }

    .about__inner {
        grid-gap: 20px;
        grid-template-columns: 1fr 2fr;
    }

    .gallery__item-inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
    }

    .gallery__item-img {
        width: 100%;
    }

    .tour__info {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 15px;
    }

    .booking {
        padding: 50px 0;
    }

    .booking__input {
        width: 100%;
    }

    .footer {
        padding: 50px 0;
    }

    .footer__logo {
        margin-bottom: 40px;
    }

    .footer__box {
        display: block;
        text-align: center;
    }

    .footer__info, .footer__address {
        margin: 0 auto 30px;
    }

    .footer__contacts {
        margin: 0 auto;
    }
}


/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .header__phone p {
        display: none;
    }

    .travel-info__items {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }

    .popular__items {
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .popular__link:nth-child(3), .popular__link:nth-child(6) {
        grid-column: auto;
        grid-row: auto;
    }

    .popular__link {
        min-height: 320px;
    }

    .map__iframe {
        height: 400px;
    }

    .about__inner {
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }

    .about__popup {
        min-height: 400px;
    }

    .gallery__item-inner {
        grid-gap: 10px;
    }

    .tour_title {
        margin-bottom: 40px;
    }

    .tour__box {
        column-count: 1;
    }

    .tour__text {
        margin-bottom: 30px;
    }

    .tour__info {
        grid-template-columns: repeat(1, 1fr);
    }

    .booking__label {
        margin-top: -192px;
        margin-left: 50px;
        width: 100%;
    }

}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .direction__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .travel-info__items {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .title {
        font-size: 28px;
    }

    .popular__items {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery__top {
        flex-wrap: wrap;
    }

    .gallery__title {
        width: 100%;
        text-align: left;
    }

    .gallery__item-inner {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Small: 440px */
@media (max-width: 440px) {
    .container {
        max-width: 400px;
    }

    .direction__inner {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .travel-info__items {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .about__popup {
        min-height: 300px;
    }

    .tour__text {
        font-size: 16px;
    }

    .tour__info {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }

    .header__top {
        padding-bottom: 0;
    }

    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .header__phone-number {
        margin-left: 0;
    }

    .menu {
        border: none;
    }

    .menu__btn {
        display: inline-block;
        width: 40px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 16px;
        top: 120px;
    }

    .menu__btn::before, .menu__btn::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: #fff;
    }

    .menu__btn::before {
        top: 0;
    }

    .menu__btn::after {
        bottom: 0;
    }

    .menu__btn span {
        display: block;
        height: 2px;
        background-color: #fff;
    }

    .menu__list {
        transform: translateY(-200%);
        display: block;
        background-color: #EC9125;
        padding: 10px 0;
        border-radius: 10px;
    }

    .menu__list.menu__list--active{
        transform: translateY(0%);
        transition: all 0.8s;
    }

    .menu__link {
        padding: 10px;
        display: block;
        text-align: center;
    }

    .menu__link:hover {
        color: #fff;
        text-decoration: underline;
    }

    .header__title {
        font-size: 55px;
        padding-bottom: 210px;
    }

    .header__descr {
        display: flex;
        align-items: center;
    }

    .header__btn {
        display: block;
        padding: 18px 73px;
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 287px;
    }

    .direction__inner {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

}


